/* UNIVERSAL SELECTOR */
*{ 
    font-family: 'Courier New', Courier, monospace;
    
}
/* ELEMENT SELECTOR */
h3 , h1{
    color: aquamarine;
}
/* ID SELECTOR */
#login{
    background-color:red;
}
/* CLASS SELECTOR */
.

