h1{
    color: red;
    background-color: black;

}
p{
    color:blue;
    background-color: skyblue;
}

button{
    color:gold;
    background-color: chartreuse;
}
body {
        background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240522/pngtree-abstract-cloudy-background-beautiful-natural-streaks-of-sky-and-clouds-red-image_15684333.jpg") no-repeat;
    }