h1{
    text-align: center;
    text-decoration:  underline;
}
h2{
    text-align: right;
    text-decoration:  overline;
}
/* 400 Normal */
p{
    font-weight: 600;
    line-height: 2.5;
}
h3{
    text-decoration: red line-through;
}
a{
    text-decoration: none;
}

